Background: After we cleaned the data and tried to visualize it in Tableau we realized that the data was not in the correct datatype and that the data was not tidy. We decided to use python to change datatype and split by comma.

Dataset: https://www.kaggle.com/datasets/pes12017000148/food-ingredients-and-recipe-dataset-with-images

Step 1: Delete columns that were not needed for our analysis including instructions, image_name, and cleaned_ingredients

Step 2: Change the "Title" column to "Meal Name"

Step 3: Use IF function to find our 10 herbs from the ingredients column.

=TEXTJOIN(",", TRUE, IF(ISNUMBER(SEARCH({"parsley","cilantro","mint","basil","oregano","dill","scallion","rosemary","sage","thyme"}, C2)), PROPER({"parsley","cilantro","mint","basil","oregano","dill","scallion","rosemary","sage","thyme"}), ""))

Double tap corner to apply function to all 13,000 rows

Step 4: Copy IF function column to new column using paste values only. Delete the 2 previous columns and paste new column with only our 10 herbs into Ingredients column

In [3]:
import pandas as pd

# Title CSV to meal and read it. Put into dataframe
df = pd.read_csv('meal.csv')

In [4]:
df.head(5) #top 5 rows of the dataframe

                                        Meal Name             Ingredients
0                 Crispy Salt and Pepper Potatoes  Parsley,Rosemary,Thyme
1              Italian Sausage and Bread Stuffing            Parsley,Sage
2                         Instant Pot Lamb Haleem                Cilantro
3  Spiced Lentil and Caramelized Onion Baked Eggs                 Parsley
4     Chicken and Rice With Leeks and Salsa Verde   Cilantro,Mint,Parsley

In [5]:
current_data_type = df['Ingredients'].dtype 
print("Current data type:", current_data_type)

Current data type: object

In [6]:
# Convert the data type of the column to a new data type
df['Ingredients'] = df['Ingredients'].astype('string')

In [7]:
print("New data type:", df['Ingredients'].dtype)

New data type: string

In [8]:
current_data_type = df['Meal Name'].dtype
print("Current data type:", current_data_type)

Current data type: object

In [9]:
df['Meal Name'] = df['Meal Name'].astype('string')

In [10]:
current_data_type = df['Meal Name'].dtype
print("Current data type:", current_data_type)

Current data type: string

In [11]:
df.head(5)

                                        Meal Name             Ingredients
0                 Crispy Salt and Pepper Potatoes  Parsley,Rosemary,Thyme
1              Italian Sausage and Bread Stuffing            Parsley,Sage
2                         Instant Pot Lamb Haleem                Cilantro
3  Spiced Lentil and Caramelized Onion Baked Eggs                 Parsley
4     Chicken and Rice With Leeks and Salsa Verde   Cilantro,Mint,Parsley

In [12]:
data=df

In [13]:
# Split 'ingredients' column by comma delimiter into multiple columns
df_ingredients = df['Ingredients'].str.split(',', expand=True)

# Rename the new columns
new_columns = [f'Ingredient_{i+1}' for i in range(df_ingredients.shape[1])]
df_ingredients.columns = new_columns

# Concatenate the original DataFrame with the split columns
df_combined = pd.concat([df, df_ingredients], axis=1)

# Display the combined DataFrame
print(df_combined)

                                              Meal Name  \
0                       Crispy Salt and Pepper Potatoes
1                    Italian Sausage and Bread Stuffing
2                               Instant Pot Lamb Haleem
3        Spiced Lentil and Caramelized Onion Baked Eggs
4           Chicken and Rice With Leeks and Salsa Verde
...                                                 ...
3398  Veal and Tomato Rago√ªt with Potatoes, Cinnamon...
3399     Whole Stuffed Artichokes Braised in White Wine
3400              Chestnut, Onion, and Currant Stuffing
3401  Israeli Couscous with Roasted Butternut Squash...
3402  Mexican Poblano, Spinach, and Black Bean "Lasa...

                 Ingredients Ingredient_1 Ingredient_2 Ingredient_3  \
0     Parsley,Rosemary,Thyme      Parsley     Rosemary        Thyme
1               Parsley,Sage      Parsley         Sage         <NA>
2                   Cilantro     Cilantro         <NA>         <NA>
3                    Parsley      Parsley         <NA>         <NA>
4      Cilantro,Mint,Parsley     Cilantro         Mint      Parsley
...                      ...          ...          ...          ...
3398                 Parsley      Parsley         <NA>         <NA>
3399            Parsley,Sage      Parsley         Sage         <NA>
3400      Parsley,Sage,Thyme      Parsley         Sage        Thyme
3401                 Parsley      Parsley         <NA>         <NA>
3402                Cilantro     Cilantro         <NA>         <NA>

     Ingredient_4 Ingredient_5 Ingredient_6 Ingredient_7 Ingredient_8
0            <NA>         <NA>         <NA>         <NA>         <NA>
1            <NA>         <NA>         <NA>         <NA>         <NA>
2            <NA>         <NA>         <NA>         <NA>         <NA>
3            <NA>         <NA>         <NA>         <NA>         <NA>
4            <NA>         <NA>         <NA>         <NA>         <NA>
...           ...          ...          ...          ...          ...
3398         <NA>         <NA>         <NA>         <NA>         <NA>
3399         <NA>         <NA>         <NA>         <NA>         <NA>
3400         <NA>         <NA>         <NA>         <NA>         <NA>
3401         <NA>         <NA>         <NA>         <NA>         <NA>
3402         <NA>         <NA>         <NA>         <NA>         <NA>

[3403 rows x 10 columns]

In [14]:
df_combined.head()

,Meal Name,Ingredients,Ingredient_1,Ingredient_2,Ingredient_3,Ingredient_4,Ingredient_5,Ingredient_6,Ingredient_7,Ingredient_8
0,Crispy Salt and Pepper Potatoes,"Parsley,Rosemary,Thyme",Parsley,Rosemary,Thyme,<NA>,<NA>,<NA>,<NA>,<NA>
1,Italian Sausage and Bread Stuffing,"Parsley,Sage",Parsley,Sage,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Instant Pot Lamb Haleem,Cilantro,Cilantro,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,Spiced Lentil and Caramelized Onion Baked Eggs,Parsley,Parsley,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,Chicken and Rice With Leeks and Salsa Verde,"Cilantro,Mint,Parsley",Cilantro,Mint,Parsley,<NA>,<NA>,<NA>,<NA>,<NA>

In [15]:
df_combined.drop(['Ingredients'], axis=1, inplace=True) #dropping the 'Ingredients' column

In [16]:
df_combined.head() #checking the output

,Meal Name,Ingredient_1,Ingredient_2,Ingredient_3,Ingredient_4,Ingredient_5,Ingredient_6,Ingredient_7,Ingredient_8
0,Crispy Salt and Pepper Potatoes,Parsley,Rosemary,Thyme,<NA>,<NA>,<NA>,<NA>,<NA>
1,Italian Sausage and Bread Stuffing,Parsley,Sage,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Instant Pot Lamb Haleem,Cilantro,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,Spiced Lentil and Caramelized Onion Baked Eggs,Parsley,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,Chicken and Rice With Leeks and Salsa Verde,Cilantro,Mint,Parsley,<NA>,<NA>,<NA>,<NA>,<NA>

In [17]:
df_combined.to_csv('meal_ingredients.csv', index=False) #export df_combined to csv